<!-- Carte qui affiche les informations détaillées du monstre -->
<div id="card">  
    <div id="inside" [style.background-color]='backgroundColor()'>  

        <!-- En-tête contenant le nom du monstre, ses points de vie et son icône d'énergie -->
        <header>  
            <div class="left">  
                <!-- Nom du monstre affiché dans l'en-tête -->
                <div id="name"> {{ monster().name }} </div>  
            </div>  
            <div class="right">  
                <!-- Affichage des points de vie du monstre -->
                <div id="hp"> {{ monster().hp }} HP </div>  
                <!-- Affichage de l'icône correspondant au type du monstre -->
                <img class="energy icon" [src]="monsterTypeIcon()">  
            </div>  
        </header>  

        <!-- Illustration du monstre avec une légende -->
        <figure id="art">  
            <img [src]="monster().image"> <!-- Image du monstre -->
            <figcaption> {{ monster().figureCaption }} </figcaption> <!-- Numéro et nom du monstre -->
        </figure>  

        <!-- Section qui affiche les capacités du monstre -->
        <div id="capacities">  
            <div class="capacity">  
                <div class="main">  
                    <!-- Coût en énergie pour utiliser cette capacité -->
                    <div class="cost">  
                        <img class="icon energy" src="assets/img/electric.PNG">  
                        <img class="icon energy" src="assets/img/electric.PNG">  
                    </div>  
                    <!-- Nom de l'attaque principale du monstre -->
                    <div class="name"> {{ monster().attackName }} </div>  
                    <!-- Valeur des dégâts infligés par l'attaque -->
                    <div class="damage"> {{ monster().attackStrength }} </div>  
                </div>  
            </div>  
            <!-- Description détaillée de la capacité du monstre -->
            <div class="description"> {{ monster().attackDescription }} </div>  
        </div>  

    </div>  
</div>  